@charset "UTF-8";

* {
    font-family: 'Questrial', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: top center;
}

.me {
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    max-width: 350px;
    max-height: 350px;
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}
    .me:hover {
        background: linear-gradient(90deg, rgb(218, 57, 51), #ffffff, rgb(218, 57, 51));
        background-size: 400%;
        transform: scale(1.05);
        animation: animate 6s linear infinite;
    }
    @keyframes animate 
    {
        0%
        {
            background-position: 0%;
        }
        100%
        {
            background-position: 400%;
        }
    }

h1 {
    font-size: 500%;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 80px 0 0 0;
    transition: 0.3s;
}

#info {
    font-size: 120%;
    color: rgb(0, 0, 0);
    text-align: center;
}

.buttons {
    position: absolute;
    top: auto;
    left: 50%;
    padding-top: 50px;
    margin: 0;
    transform: translate(-50%, -50%);
}
    .buttons a {
        text-decoration: none;
        background-color: rgb(230, 230, 230);
        color: rgb(32, 32, 32);
        border-radius: 15px;
        padding: 5px 15px;
        width: 50px;
        height: 50px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }
        .buttons a:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(218, 57, 51);
            transform: scale(1.8);
        }
        .buttons a:active {
            background-color: rgb(218, 57, 51);
            position: relative;
            top: 0.1em;
    }

.icons {
    position: absolute;
    top: auto;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .icons a{
        text-decoration: none;
    }
        .icons .fab {
        position: relative;
        font-size: 20px;
        margin: 0 20px;
        color: rgb(146, 146, 146);
        transition: 0.2s;
    }
        .icons .fab:hover {
            color: rgb(218, 57, 51);
        }
        .icons a:active {
            position: relative;
            top: 0.1em;
        }